<div class="container">
    <div class="header">
       <div class="title"> 
        <h1></h1>
       </div>
       <div class="profile">
        <mat-icon>account_circle</mat-icon>
       </div>
    </div>
    <div class="main-content">
        <div class="category">
            <app-category></app-category>
        </div>
        <div class="feed">
            <app-posts-feed></app-posts-feed>
        </div>
        <div class="user-list">
            <app-users-list></app-users-list>
        </div>
  
    </div>
    
</div>