.container{
    width: 100%;
  .header{
    display: flex;
    .title{
        width: 100%;
        text-align: center;
       margin-block-start: 0.5rem;
        h1{
            font-size: 3rem;
            font-weight: 600;
        }
    }
    .profile{
        mat-icon{
            width: 4rem;
            height: 4rem;
            font-size: 4rem;
        }   
    }
}
.main-content{
    display: flex;
.category{
    width: 20%;
}
.feed{
    width: 60%;
}
.user-list{
    width: 19%;
}
}
}