.category-container{
    margin-inline-start: 0.5rem;
    .category-buttons{
    button{
        width: 10rem;
        font-family: fantasy;
        margin-block:0.5rem;
        background-color: rgb(9, 229, 9);
        color: rgb(0, 0, 0);
    }
}
}