/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: black;
color: rgb(9, 229, 9); 
font-family: fantasy;}
.mdc-text-field--filled .mdc-line-ripple::after{
    border-bottom-color: rgb(9, 229, 9) !important;
 }
 .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(9, 229, 9);
}